.user-table {
  width: 100%;

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  table {
    width: 100%;
  }

  .mat-mdc-row {
    .mat-mdc-cell {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      cursor: pointer;
    }

    &:nth-child(odd) {
      background-color: var(--mat-sys-surface-container-high);
    }

    &:nth-child(even) {
      background-color: var(--mat-sys-surface);
    }
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
}
